@font-face {
    font-family: VolterGoldfish;
    font-weight: 100;
    font-style: normal;
    src: url('https://cdn.rawgit.com/gwagwaflamingo/gwagwaflamingo.github.io/blob/twmtheme/Volter__28Goldfish_29.ttf') format('truetype');
}