@font-face {
    font-family: VolterGoldfish;
    font-weight: 100;
    font-style: normal;
    src: url('https://cdn.rawgit.com/gwagwaflamingo/gwagwaflamingo.github.io/5442a62df485b400b28fbff9a9f1a88bc224eb63/Volter__28Goldfish_29.ttf') format('truetype');
}